<!DOCTYPE html>
<html >
<head>
    <link rel="stylesheet" href="css/general.css" />
    <link rel="stylesheet" href="css/connect_to_user.css" />
</head>
<body>
        <div class="dropdown">
            <button class="drop_button"><img class="images" src="image/dog.png" />
            </button>

            <div class="dropdown_content" id="myDropdown">
                <a class="text" href="user_info.html">Personal Information</a>
                <a class="text" href="old_orders.html">Old Orders</a>
            </div>
        </div>
</body>
</html>