<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="/css/stylesheet.css">
</head>
<body>
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
    <div class="title">
        <h1>Our Project Name</h1>
    </div>
    <form>
        <h3>register</h3>

        <div class="mb-3">
            <label for="name-reg" class="form-label">Name</label>
            <input type="text" class="form-control" id="name-reg" name="name">                        

            <label for="email-reg" class="form-label">Email</label>
            <input type="text" class="form-control" id="email-reg" name="email">                        

            <label for="password-reg" class="form-label">Password</label>
            <input type="password" class="form-control" id="password-reg" name="password">

            <label for="password-conf-reg" class="form-label">Confirm Password</label>
            <input type="password" class="form-control" id="password-conf-reg" name="password-confirm">
        </div>

        <button class="button_type2">Submit</button>
    </form>
</body>
</html>