<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/css/general.css" />
    <link rel="stylesheet" href="/css/sign_in_up.css" />
</head>
<body>
    <button class="sign_up_button" onclick="show_sign_up()">Sign Up</button>
    <div id="sign_up_id" class="sign_up_class">
        <form class="inside_up">
            <div class="container">
                <h1>Sign Up</h1>
                <p>Please fill in this form to create an account</p>

                <div class="row">
                    <div class="half">
                        <label>First Name</label>
                        <input type="text" id="fname" placeholder="Enter First Name" required />
                        <label>Last Name</label>
                        <input type="text" id="lname" placeholder="Enter Last Name" required />
                        <label>Email</label>
                        <input type="text" id="email" placeholder="Enter Email" required />
                        <label>Phone Number</label>
                        <input type="text" id="phone" placeholder="Enter Phone Number" required />
                    </div>
                    <div class="half">
                        <label>Birth Date</label>
                        <input type="date" id="bdate" required />
                        <label>Gender</label>
                        <select id="gender">
                            <option>Male</option>
                            <option>Female</option>
                            <option>Other</option>
                            <option>I prefer not to share this information</option>
                        </select>
                        <label>Password</label>
                        <input type="password" id="password1" placeholder="Enter Password" required />
                        <label>Repeat Password</label>
                        <input type="password" id="password2" placeholder="Repeat Password" required />
                    </div>

                </div>
                <input type="checkbox" required /> I agree to our <a href="Terms_and_privacy.html" target="_blank" style="color:dodgerblue">Terms & Privacy</a> .
                <div class="my_buttons">
                    <div class="row">
                        <div class="half">
                            <button type="button" onclick='func_close_up()' class="cancel_button">Cancel</button>
                        </div>
                        <div class="half">
                            <button type="submit" onclick="check_input_up()" class="finish_sign_button">Sign Up</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>

    </div>
    <!-------------------------------------------------------------------------->
    <button class="sign_in_button" onclick="show_sign_in()">Sign In</button>
    <div id="sign_in_id" class="sign_in_class">
        <form class="inside_in">
            <div>
                <img src="image/dog.png" />
            </div>
            <div class="container">
                <label class="label_email">Email</label>
                <input type="text" id="email_id" class="email_in" placeholder="Enter Email" required />
                <label class="label_password">Paaword</label>
                <input type="password" id="password_id" class="password_in" placeholder="Enter Password" required />
                <div class="row">
                    <div class="half">
                        <button type="button" onclick="func_close_in()" class="cancel_button">Cancel</button>
                    </div>
                    <div class="half">
                        <button type="submit" onclick="check_input_in()" class="finish_sign_button">Sign In</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <script src="/JavaScript/sign_in_up.js"></script>
</body>
</html>