<!DOCTYPE html>
<html>

<head>
  <style>
    body {
      position: absolute;
      top: 5%;
      left: 15%;
      width: 70%;
    }

    div {
      top: 10%;
    }
  </style>
  <title>BasketsHistories</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="/CSS/general.css">
  <script src="/javascript/admin_baskets.js"></script>
</head>

<body onload="GetUsers();">
  <ul class="nav navbar-nav">
    <li class="active text"><a href="users">Users</a></li>
    <li class="active text"><a href="products">Products</a></li>
    <li class="active text"><a href="suppliers">Suppliers</a></li>
    <li class="active text"><a href="baskets">BasketsHistories</a></li>
    <li class="active text"><a href="graphs">Statistics</a></li>
  </ul>
  <h class="modal-header modal-title headline"><b>BasketsHistories</b></h>
  <a id="userstable"></a>
  </div>
</body>

</html>