<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Search</title>
    <link rel="stylesheet" href="/css/general.css">
    <link rel="stylesheet" href="/css/connect_to_user.css" />
    <link rel="stylesheet" href="/CSS/home.css">
</head>

<body>
    <header>
        <div class="dropdown">
            <button class="drop_button"><img class="images" src="image/dog.png" />
            </button>

            <div class="dropdown_content" id="myDropdown">
                <a class="text" href="user_info.html">Personal Information</a>
                <a class="text" href="old_orders.html">Old Orders</a>
            </div>
        </div>
        <button id="filterBtn">Filter</button>
    </header>
    <aside id="filterPanel">
        <!-- Filter options will be dynamically loaded here -->
    </aside>
    <main id="productContainer">
        <!-- Products will be dynamically loaded here -->
    </main>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/Javascript/home.js"></script>
</body>

</html>