<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Search</title>
    <link rel="stylesheet" href="/css/general.css" />
    <link rel="stylesheet" href="/CSS/SearchPage.css">
</head>

<body>
    <header>
        <h1>Online Shop</h1>
        <button id="filterBtn">Filter</button>
    </header>
    <aside id="filterPanel">
        <!-- Filter options will be dynamically loaded here -->
    </aside>
    <main id="productContainer">
        <!-- Products will be dynamically loaded here -->
    </main>
    <script src="/Javascript/SearchPage.js"></script>
</body>

</html>