<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="/CSS/user_info.css">
  <style>
    body {
      position: absolute;
      top: 5%;
      left: 15%;
      width: 70%;
    }

    div {
      top: 10%;
    }
  </style>
  <title>Old Orders</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="http://localhost/CSS/general.css">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="javascript/old_orders.js"></script>
</head>

<body>
  <div>
    &nbsp;
  </div>
  <div>
    <a class="back" onclick="call_the_page('home')">Back to Shopping!</a>
  </div>
  <h class="modal-header modal-title headline"><b>Old Orders</b></h>
  <a id="orderstable"></a>
  </div>
</body>
<script src="javascript/connect_to_user.js"></script>

</html>