<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/css/shopping_cart.css" />
</head>
<body class="">
    <div class="shopping-cart">
        <header>
            <div class="cart-icon">
                <img id="icon" src="/image/cart.png"/>
                <span>0</span> 
            </div>
        </header>
    </div>


    <div class="cart-tab">
        <h1>Your Shopping Cart</h1>
        <div class="cart-list">
            <!-- stuff in cart list so i can see how it looks - delete after -->
            <div class="item">
                <div class="img">
                    <img src="image/kong_ball.png" />
                </div>
                <div class="name">KONG Biscuit Ball</div>
                <div class="price">75$</div>
                <div class="quantity">
                    <span>-</span>
                    <span id="number_of_items">1</span>
                    <span>+</span>
                </div>
            </div>
            <div class="item">
                <div class="img">
                    <img src="image/kong_squeakair.png" />
                </div>
                <div class="name">KONG Squeakair</div>
                <div class="price">49$</div>
                <div class="quantity">
                    <span>-</span>
                    <span id="number_of_items">1</span>
                    <span>+</span>
                </div>
            </div>
            <!-- stuff in cart list so i can see how it looks - delete after -->

        </div>
        <div class="my-buttons">
            <button class="close">Close Shopping Cart</button>
            <button class="pay">Checkout</button>
        </div>
    </div>
            <script src="/javascript/shopping_cart.js"></script>
</body>
</html>
