<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/CSS/shopping_cart.css" />


</head>

<body class="">
    <div class="shopping-cart">
        <header>
            <div class="cart-icon">
                <img id="icon" src="\image\cart.png" />
                <span>0</span>
            </div>
        </header>
        <div class="list_products">

        </div>
    </div>


    <div class="cart-tab">
        <h1>Your Shopping Cart</h1>
        <div class="cart-list">

        </div>
        <div class="sum-all"></div>
        <div class="my-buttons">
            <button class="close">Close Shopping Cart</button>
            <button class="pay" onclick="pay_page()">Checkout</button>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="/javascript/shopping_cart.js"></script>
</body>

</html>